{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Record Recordatorium</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nihil
      esse! A laborum nam ratione quam cupiditate enim ad, corporis laudantium
      sit aut repellendus officiis aspernatur itaque consectetur magnam libero?
      Consequatur tempore ut quo ipsa doloribus distinctio quasi corporis
      corrupti molestiae commodi quod, laudantium omnis a cumque officiis.
      Praesentium ex amet, molestiae voluptatibus facilis atque, neque tempore
      recusandae saepe, soluta ab modi id impedit sit? Qui omnis voluptate
      dolorem excepturi nihil. Cupiditate praesentium quia nemo. Minima
      consequatur unde fugit minus repellat et quas voluptatem iste esse ullam
      saepe, eos amet doloremque laboriosam maxime nemo exercitationem rem
      explicabo, quis illo soluta?
    </p>
    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">signin</><a class="btn btn-danger" href="/signup/">signup</a>
    </div>
  </section>
</main>
{% endblock %}
